<?xml version="1.0"?>
<model>
    <name>Stick</name>

    <version>1.0</version>
    <sdf version='1.7'>long_stick.urdf</sdf>

    <author>
        <name>Vignesh Sushrutha Raghavan</name>
        <email>vignesh.raghavan@iit.it</email>
    </author>

    <description>
        A long stick to perform bimanual manipulation based on Lorenzo Rapetti's model
    </description>
</model>
